/* css reset come simone ci ha spiegato 
100mila volte di mettere */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DynaPuff', cursive;
}

.bg-nero{
    background-color: black;
}

.bg-bianco{
    background-color: white;
}

.t-bianco{
    color: white;
}

.t-nero{
    color: black;
}

.accanto{
    display: flex;
}

.centrato{
    text-align: center;
}

.centrato_alcentro{
    display: flex;
	justify-content: center;
	align-items: center;
}

.marginii{
    margin: 10px;
}

.pad{
    padding: 40px;
}

/* utilizzato solo in fase di testing */
.rosso{
    border: 5px solid red;
}

.blu{
    border: 5px solid blue;
}

.hero{
    height: 100vh;
    width: 100vw;
    background-image: url(https://www.focus.it/images/2021/12/16/fulmine_1020x680.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero h2 {
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
}

.hero p{
    font-size: 20px;
    text-align: center;
    color: cyan
}

.boxDomande{
    height: 50vh;
    width: 40vw;
}

nav {
    height: 80px;
    /* Posiziono il mio contenuto agli estremi dx e sx */
    justify-content: space-between;
    /* allineo verticalmente il contenuto */
    align-items: center;

    background-color: black;
  }
  
  nav img {
    width: 50px;
  }
  
  nav ul {
    /* Tolgo i puntini alla lista */
    list-style: none;
  }
  
  nav ul li {
    /* margin: 0 10px; */
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }

  .margini {
    /* margin: 0 10px; */
    padding: 5px;
    font-size: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }


footer ul li{
    list-style: none;
}

footer img {
    width: 50px;
  }

.footer-container{
    justify-content: space-between;
    width: 100vw;
}

/* a destra dà problemi e serve sta cosa. */
body{
    overflow-x: hidden;
}

