*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 300px;
    width: 300px;
    /* sconsigliato il display */
    display: inline-block;
}

body{
    background-color: black;
}

.sfondo_bianco{
    background-color: white;
}

.bordo_4px{
    /* Dimensione, solid, colore */
    border: 4px solid gray;
}

.semaforo_verde:hover{
    background-color: green;
}

.semaforo_giallo:hover{
    background-color: yellow;
}

.semaforo_rosso:hover{
    background-color: red;
}